body {
    background-color: rgb(30, 31, 28);
    width: 99%;
    height: 100%;
}
#titulos {
    background-color: rgba(83, 83, 83, 0.26);
    width: 90%;
    /* height: 80%; */
    margin: 0 auto;
    border-radius: 50px;
}
h1 {
    color: rgb(0, 0, 43);
    text-align: center;
}
h2 {
    color: rgb(0, 0, 43);
    text-align: center;
}
#proyecto1 {
    /* background-color: white; */
    border-radius: 50px;
    width: 30%;
    margin: 0 55% 0 5%;
    /* height: 50%; */
}
#imgpr1 {
    border-radius: 50px;
    width: 100%;
    /* height: 50%; */
}